In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import ast

In [2]:
# Load the datasets
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
# Display the first few rows of the movies dataframe
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
# Display the first few rows of the credits dataframe
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
# Check the shape of the movies dataframe (rows, columns)
movies.shape

(4803, 20)

In [6]:
# Check the shape of the credits dataframe (rows, columns)
credits.shape

(4803, 4)

In [7]:
# Merge the movies and credits dataframes on the 'title' column
movies = movies.merge(credits,on='title')

In [8]:
# Remove unnecessary columns from the movies dataframe
#Removing columns : budget, homepage, original_language, original_title(will keep title col), popularity, production_companies, production_countries, release_data, revenue, runtime, spoken_languages, status, tagline, vote_average, movie_id

columns_to_remove = ['budget', 'vote_count','homepage', 'original_language', 'original_title', 'popularity',
                     'production_companies', 'production_countries', 'release_date', 'revenue',
                     'runtime', 'spoken_languages', 'status', 'tagline', 'vote_average','id']
movies.drop(columns=columns_to_remove, inplace=True)

In [9]:
# Display the first few rows of the modified movies dataframe
movies.head()

,genres,keywords,overview,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
# Check for null values in each column
movies.isnull().sum()

genres      0
keywords    0
overview    3
title       0
movie_id    0
cast        0
crew        0
dtype: int64

In [11]:
# Remove rows with any null values
movies.dropna(inplace = True)

In [12]:
# Confirm there are no more null values
movies.isnull().sum()

genres      0
keywords    0
overview    0
title       0
movie_id    0
cast        0
crew        0
dtype: int64

In [13]:
# Check for duplicate rows
movies.duplicated().sum()

0

In [14]:
# Display the 'genres' column of the first row (as a string)
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
# Define a function to convert the genre/keyword JSON string into a list of genre/keyword names
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [16]:
# Apply the 'convert' function to the 'genres' column
movies['genres'] = movies['genres'].apply(convert)

In [17]:
# Apply the 'convert' function to the 'keywords' column
movies['keywords'] = movies['keywords'].apply(convert)

In [18]:
# Demonstrate the functionality of ast.literal_eval by parsing a string representation of a list of dictionaries
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [19]:
# Define a function to extract the first 3 cast members from the 'cast' column
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [20]:
# Apply the 'convert3' function to the 'cast' column
movies['cast'] = movies['cast'].apply(convert3)

In [21]:
# Ensure that only the first 3 cast members are included (in case there were errors in the previous step)
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [22]:
# Define a function to extract the director's name from the 'crew' column
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [23]:
# Apply the 'fetch_director' function to the 'crew' column
movies['crew'] = movies['crew'].apply(fetch_director)

In [24]:
# Split the 'overview' text into a list of words (optional)
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,genres,keywords,overview,title,movie_id,cast,crew
2752,"[Crime, Thriller]","[sadistic, hostage, sociopath, serial killer, ...","Terri is a devoted wife and mother of two, liv...",No Good Deed,136835,"[Idris Elba, Taraji P. Henson, Leslie Bibb]",[Sam Miller]
500,"[Action, Crime, Thriller]","[miami, car race, sports car, los angeles, car...",It's a major double-cross when former police o...,2 Fast 2 Furious,584,"[Paul Walker, Tyrese Gibson, Eva Mendes]",[John Singleton]
3378,[Drama],"[film making, film producer, video surveillanc...",Is there room for principle in Los Angeles? Mi...,Redbelt,12400,"[Chiwetel Ejiofor, Tim Allen, Alice Braga]",[David Mamet]
508,"[Adventure, Action, Science Fiction]","[exotic island, dna, paleontology, tyrannosaur...",Four years after Jurassic Park's genetically b...,The Lost World: Jurassic Park,330,"[Jeff Goldblum, Julianne Moore, Pete Postlethw...",[Steven Spielberg]
3325,"[Drama, Thriller, Crime, Foreign]",[],Grieving after the death of her young son Jose...,Betty Fisher and Other Stories,55903,"[Sandrine Kiberlain, Nicole Garcia, Mathilde S...",[Claude Miller]

In [25]:
# Define a function to remove spaces from strings within a list
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [26]:
# Apply the 'collapse' function to the 'cast', 'crew', 'genres', and 'keywords' columns
# Due to same names as "Sam Worthington" and "Sam Mendes"
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [27]:
# Split the 'overview' text into a list of words (repeated step)
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [28]:
# Combine 'overview', 'genres', 'keywords', 'cast', and 'crew' into a new 'tags' column
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [29]:
# Drop the original columns used to create the 'tags' column
new_df = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [30]:
# Display the first few rows of the new dataframe
new_df.head()

,title,movie_id,tags
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,206647,"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,49026,"[Following, the, death, of, District, Attorney..."
4,John Carter,49529,"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
# Convert the 'tags' column list back into a string
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [32]:
# Display the first few rows of the modified dataframe
new_df.head()

,title,movie_id,tags
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...
4,John Carter,49529,"John Carter is a war-weary, former military ca..."

In [33]:
# Convert all 'tags' text to lowercase
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [34]:
new_df.head()

,title,movie_id,tags
0,Avatar,19995,"in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,285,"captain barbossa, long believed to be dead, ha..."
2,Spectre,206647,a cryptic message from bond’s past sends him o...
3,The Dark Knight Rises,49026,following the death of district attorney harve...
4,John Carter,49529,"john carter is a war-weary, former military ca..."

In [35]:
# Import the Natural Language Toolkit (nltk)
import nltk

In [36]:
# Import the Porter Stemmer from nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [37]:
# Define a function to apply stemming to a text
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i)) # Stem each word
    return " ".join(y) # Join the stemmed words back into a string

In [38]:
# Apply the stemming function to the 'tags' column
new_df['tags'] = new_df['tags'].apply(stem)

In [39]:
###VECTORIZATION

In [40]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [41]:
new_df['tags'][1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski"

In [42]:
# Import CountVectorizer from scikit-learn for text vectorization
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
# Create a CountVectorizer object with a max feature limit of 5000 and English stop words removal
cv = CountVectorizer(max_features=5000, stop_words = 'english')

In [44]:
# Fit and transform the 'tags' column to create vectors
vectors = cv.fit_transform(new_df[ 'tags']).toarray()

In [45]:
# Import cosine_similarity from scikit-learn to calculate similarity between vectors
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
# Calculate the cosine similarity between the vectors
similarity = cosine_similarity(vectors)

In [47]:
# Display the similarity scores for the first movie (Avatar)
similarity[1]

array([0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
       0.02615329])

In [48]:
# Display the indices and similarity scores for the 10 most dissimilar movies to the first movie
sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x: x[1])[-10:-1]

[(4788, 0.0),
 (4791, 0.0),
 (4792, 0.0),
 (4794, 0.0),
 (4795, 0.0),
 (4796, 0.0),
 (4797, 0.0),
 (4800, 0.0),
 (4804, 0.0)]

In [49]:
# Define a function to recommend movies based on a given title
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [50]:
# Test the recommendation function with 'Avatar'
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [51]:
# Test the recommendation function with 'Gandhi'
recommend('Gandhi')

Gandhi, My Father
Guiana 1838
The Wind That Shakes the Barley
Mr. Turner
A Passage to India

In [52]:
# Test the recommendation function with 'Batman Begins'
recommend ('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [53]:
# Import the pickle module for saving the model
import pickle

In [54]:
# Save the modified dataframe to a pickle file
pickle.dump(new_df,open('movie_list.pkl','wb'))

# Save the similarity matrix to a pickle file
pickle.dump(similarity,open('similarity.pkl','wb'))